http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/subscribers.json?slug=new-york-times-politics&owner_screen_name=nytpolitics&count=20&cursor=-1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My oauth token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Wed, 20 Jul 2022 16:12:12 GMT
      x-transaction: b5f6c3ea7c2aebf6
      x-access-level: read-write-directmessages
      x-rate-limit-limit: '180'
      x-rate-limit-reset: '1658334432'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '179'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '740'
      x-connection-hash: ccfb34807bdcd0d758d735abe84ced3ffae3ce919302a587df991c730124e514
    body:
      encoding: UTF-8
      file: no
      string: '{"users":[{"id":2784003177,"id_str":"2784003177","name":"Raffaele La
        Ciura","screen_name":"LaCiuraRaffaele","location":"","description":"Socializza
        senza stressare il prossimo tuo!","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":2710,"friends_count":1921,"listed_count":4,"created_at":"Thu
        Sep 25 18:21:33 +0000 2014","favourites_count":241620,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":163888,"lang":null,"status":{"created_at":"Wed
        Jul 20 14:43:06 +0000 2022","id":1549766854826233861,"id_str":"1549766854826233861","text":"RT
        @DeShindig: Vedo che molti non hanno capito che il regista dell''operazione
        crisi governo Draghi non \u00e8 pi\u00f9 Conte (poverino, non saprebbe\u2026","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"DeShindig","name":"Costantino
        De Blasi \ud83c\uddfa\ud83c\udde6\ud83c\uddea\ud83c\uddfa","id":294236862,"id_str":"294236862","indices":[3,13]}],"urls":[]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Wed
        Jul 20 14:40:31 +0000 2022","id":1549766206265204736,"id_str":"1549766206265204736","text":"Vedo
        che molti non hanno capito che il regista dell''operazione crisi governo Draghi
        non \u00e8 pi\u00f9 Conte (poverino, non\u2026 https:\/\/t.co\/FZgxQN3Dgh","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/FZgxQN3Dgh","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1549766206265204736","display_url":"twitter.com\/i\/web\/status\/1\u2026","indices":[116,139]}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":37,"favorite_count":301,"favorited":false,"retweeted":false,"lang":"it"},"is_quote_status":false,"retweet_count":37,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"it"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"9AE4E8","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme16\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme16\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1050659632794886147\/PLfHe8cv_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1050659632794886147\/PLfHe8cv_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/2784003177\/1514462168","profile_link_color":"0084B4","profile_sidebar_border_color":"BDDCAD","profile_sidebar_fill_color":"DDFFCC","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},{"id":1546659588023394304,"id_str":"1546659588023394304","name":"HS
        SPORTS SANCHEZ","screen_name":"sports_sanchez","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":98,"friends_count":2208,"listed_count":0,"created_at":"Tue
        Jul 12 00:56:12 +0000 2022","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":4717,"lang":null,"status":{"created_at":"Wed
      [...]
